    <!-- mi_template.html -->
    <!-- registration.html -->
    
    
    
    <!DOCTYPE html>
    <html>
    <head>
        <title>Ingresa el Código</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <!-- Renderizar 6 inputs para el código -->
            {% for i in "123456" %}
            <input type="text" name="sms_code_{{i}}" id="sms_code_{{i}}" maxlength="1" size="1" pattern="[0-9]*" autocomplete="off">
            {% endfor %}
            <button type="submit">Enviar</button>
        </form>
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#captchaForm').submit(function(e) {
                    e.preventDefault();
                    
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        dataType: 'json',
                        success: function(response) {
                            console.log(response)
                            // if (response.message === 'Espere hasta que se le solicite el código de verificación') {
                            //     // Redirigir a form2
                            //     setTimeout(() => {
                            //         window.location.href = '{% url "form2" %}';
                            //     }, 60000)
                            // }
                        },
                        error: function(error) {
                            console.error("Error al enviar el formulario:", error);
                        }
                    });
                });
            })
        </script>
    </body>
    </html>